# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
employee_counts = salaries['Salary or Hourly'].value_counts()
employee_counts

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
department_counts = salaries['Department'].value_counts().sort_index()
department_counts

ADMIN HEARNG              38
ANIMAL CONTRL             75
AVIATION                1856
BOARD OF ELECTION        111
BOARD OF ETHICS            8
BUDGET & MGMT             44
BUILDINGS                258
BUSINESS AFFAIRS         167
CITY CLERK                88
CITY COUNCIL             362
COPA                     123
CULTURAL AFFAIRS          74
DAIS                    1033
DISABILITIES              28
FAMILY & SUPPORT         656
FINANCE                  544
FIRE                    4627
HEALTH                   467
HOUSING                   66
HOUSING & ECON DEV       154
HUMAN RELATIONS           17
HUMAN RESOURCES           75
INSPECTOR GEN             95
LAW                      398
LICENSE APPL COMM          1
MAYOR'S OFFICE           104
OEMC                    1737
POLICE                 13848
POLICE BOARD               2
PROCUREMENT               84
PUBLIC LIBRARY          1088
PUBLIC SAFETY ADMIN      244
STREETS & SAN           2175
TRANSPORTN              1113
TREASURER                 28
WATER MGMNT             1914
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

- Null Hypothesis (H0): The average hourly wage of all hourly workers >= $30/hr.

- Alternative Hypothesis (H1): The average hourly wage of all hourly workers < $30/hr.

In [7]:
hourly_rate = salaries['Hourly Rate']
hourly_rate.describe()

count    8174.000000
mean       34.586450
std        13.285543
min         2.650000
25%        22.360000
50%        37.450000
75%        43.720000
max       128.000000
Name: Hourly Rate, dtype: float64

In [8]:
new_df = salaries[(salaries['Salary or Hourly'] == 'Hourly') & (salaries['Hourly Rate'].notna())]
new_df

hourly_wage = new_df['Hourly Rate']
hourly_wage

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: Hourly Rate, Length: 8174, dtype: float64

In [9]:
import scipy.stats
confidence_level = 0.95
degrees_freedom = len(hourly_wage)
sample_mean = np.mean(hourly_wage)
sample_standard_error = scipy.stats.sem(hourly_wage)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [10]:
np.std(hourly_wage)/np.sqrt(degrees_freedom)

0.14693843969511072

In [11]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539726276, 34.874504039977275) .

In [12]:
sample_standard_error

0.14694742867989574

In [13]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(hourly_wage, 30)

In [14]:
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

In [15]:
stat, pval = ttest_1samp(hourly_wage, 30)
print('pvalue for the one-tailed test is ', pval/2)

pvalue for the one-tailed test is  1.912737923836897e-202

- #### The p value is close to 0, less than 0.05, so our H0 hypothesis holds, it is true.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

- Null Hypothesis (H0): Salaries this year are higher than or equal to last year's mean of $86000/year a year for all salaried employees.

- Alternative Hypothesis (H1): Salaries this year are not higher than last year's mean of $86000/year a year for all salaried employees

In [16]:
salaries['Department'].unique()

array(['FIRE', 'POLICE', 'FAMILY & SUPPORT', 'WATER MGMNT', 'AVIATION',
       'TRANSPORTN', 'STREETS & SAN', 'FINANCE', 'LAW', 'CITY COUNCIL',
       'DAIS', 'OEMC', 'COPA', 'HEALTH', 'BUSINESS AFFAIRS',
       'HUMAN RESOURCES', 'PUBLIC LIBRARY', 'CULTURAL AFFAIRS', 'HOUSING',
       'PROCUREMENT', 'BUILDINGS', 'ANIMAL CONTRL', 'CITY CLERK',
       'HOUSING & ECON DEV', 'BOARD OF ELECTION', 'PUBLIC SAFETY ADMIN',
       'DISABILITIES', 'INSPECTOR GEN', 'HUMAN RELATIONS',
       "MAYOR'S OFFICE", 'TREASURER', 'BUDGET & MGMT', 'BOARD OF ETHICS',
       'POLICE BOARD', 'ADMIN HEARNG', 'LICENSE APPL COMM'], dtype=object)

In [25]:
police_force = salaries[(salaries['Department'] == 'POLICE') & (salaries['Annual Salary'].notna())]
police_force_salary = police_force['Annual Salary']
police_force_salary

1         93354.0
4         90024.0
6        111444.0
7        103932.0
9         95736.0
           ...
33696     80016.0
33697     72510.0
33698     76266.0
33699     90024.0
33700     93354.0
Name: Annual Salary, Length: 13824, dtype: float64

In [26]:
police_force_salary.isna().sum()

0

In [27]:
# Your code here:
import scipy.stats
confidence_level = 0.95
degrees_freedom = len(police_force_salary)
sample_mean = np.mean(police_force_salary)
sample_standard_error = scipy.stats.sem(police_force_salary)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [28]:
np.std(police_force_salary)/np.sqrt(degrees_freedom)

153.04542272894577

In [29]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88534.11829048868, 89134.11955673354) .

In [30]:
sample_standard_error

153.0509585263483

In [31]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(police_force_salary, 86000)

In [32]:
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   18.51748561981861
pvalue for the two-tailed test is  1.2239133904242963e-75

In [33]:
stat, pval = ttest_1samp(police_force_salary, 86000)
print('pvalue for the one-tailed test is ', pval/2)

pvalue for the one-tailed test is  6.119566952121482e-76

- #### Here our H0 also holds, it is true.

Using the `crosstab` function, find the department that has the most hourly workers.

In [34]:
cross_tab = pd.crosstab(index=salaries['Department'], columns=salaries['Salary or Hourly'])

department_with_most_hourly = cross_tab['Hourly'].idxmax()
hourly_count = cross_tab['Hourly'].max()

print(f"Department with the most hourly workers: {department_with_most_hourly}")
print(f"Number of hourly workers: {hourly_count}")

Department with the most hourly workers: STREETS & SAN
Number of hourly workers: 1846

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

- Null_hypothesis = The mean hourly wage for STREETS & SAN workers is greater than or equal to $35/hour

- Alternative_hypothesis = The mean hourly wage for STREETS & SAN workers is less than $35/hour

In [37]:
dep_most_hourly = salaries[(salaries['Department']=='STREETS & SAN') & (salaries['Salary or Hourly']=='Hourly')]
dep_most_hourly

hr = dep_most_hourly['Hourly Rate']
hr

15       40.78
16       38.52
26       38.52
49       29.96
65       37.45
         ...
33623    38.01
33624    37.45
33667    37.45
33668    38.52
33676    25.95
Name: Hourly Rate, Length: 1846, dtype: float64

In [38]:
import scipy.stats
confidence_level = 0.95
degrees_freedom = len(hr)
sample_mean = np.mean(hr)
sample_standard_error = scipy.stats.sem(hr)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [39]:
np.std(hr)/np.sqrt(degrees_freedom)

0.1380320213873565

In [40]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (35.281508215213854, 35.823085500929146) .

In [41]:
sample_standard_error

0.13806942337189038

In [42]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(hr, 35)

In [43]:
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   4.000138803968834
pvalue for the two-tailed test is  6.580474443773579e-05

In [44]:
stat, pval = ttest_1samp(police_force['Annual Salary'], 86000)
print('pvalue for the one-tailed test is ', pval/2)

pvalue for the one-tailed test is  6.119566952121482e-76

- #### Here, the H0 also holds, it is true because the p value is below 0.05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [45]:
# Your code here:

- #### I will come back to finish this!

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [ ]:
# Your code here:

- #### I will come back to finish this!

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here:

- #### I will come back to finish this!